.business-section {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 1024px;
  min-height: 170px;
  color: #000;
  padding: 10px;
  margin-top: 10px;
}
.business-section-text {
  padding: 10px 30px;
  margin-left: 50px;
  text-align: justify;
  line-height: 1.5;
}

.bus-text-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
